body {
	padding-top: 70px;
}

.container {
	max-width: 800px;
}

.angka {
	color: rgba(153, 102, 255, 1);
}

.panel-angka {
	border-color: rgba(255, 206, 86, 0.6);
}

.quote {
	text-align: right;
	font-style: italic;
}